body {
   background-image: linear-gradient(#00ccff,white,#00ccff);
   background-size: 100%;
   
}

html {
  height:100%;
}


div {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0.33rem;
    padding: 0.5rem 1rem;
    border-radius: .25rem 1rem .25rem 1rem;
    background-color: whitesmoke;
  }
  div:nth-of-type(2n + 1){border-radius: 1rem .25rem 1rem .25rem;}
  .button{cursor:pointer; display:inline-block;padding:0.25rem 0.5rem; border:solid 1px rgba(0, 0, 0, .3); border-radius: .25rem; text-decoration: none; position:relative; transition: all 200ms; background-color:white; color:#222426;}
  .button:hover, input[type="submit"]:hover{box-shadow:inset 0 0 0 10rem rgba(0, 0, 0, .1);}
  .blue{background-color:#007bff !important; color:white !important; border:none !important;}
  .green{background-color:#6c757d !important; color:white !important; border:none !important;}
  .red{background-color:#dc3545 !important; color:white !important; border:none !important;}
  .round{background-color: b !important; border-radius:5rem !important;padding-left:2.5rem !important;padding-right:2.5rem !important;}
  div:hover{animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;}
  @keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
  }
  .left{float:left;}
  .right{float:right;}
  .keep-center{text-align:center; vertical-align:middle;}
  .keep-right{text-align:right;}
  .top-1{margin-top:-1rem;}
  .top_1{margin-top:1rem;}
  .top_14{margin-top:1.4rem;}
  .bottom_1{margin-bottom:1rem;}
  div[data-passed="false"] {
    background-color: rgba(255, 0, 0, 0.5);
  }
  #noteValue {
    display: block;
    width: 50%;
    margin-left: 25%;
    resize: none;
    border-radius: .25rem;
    text-indent: 1rem;
    padding:.5rem .25rem;
  }
  h4{margin-bottom: 1rem;}
  #addNote {
    display: block;
    width: 25%;
    margin-left: 37.5%;
    margin-top: 1rem;
  }
  #fullId {
    position: relative;
    margin-top: 0.33rem;
    display:block;
    border: solid 1px rgba(100, 150, 200, 0.5);
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem 2.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 .125rem .125rem 0 rgba(0 ,0 ,0 , .25);
  }
  #fullId > input[type="button"]{position:absolute; bottom:-1.8rem; right:1rem;}
  .box-shadow{box-shadow: 0 .125rem .125rem 0 rgba(0 ,0 ,0 , .25);}
  .note::before{content:'# '; color:#64686a;}
  .note::after{content:' ..'; color:#64686a;}
  .logo{font-family:"Caveat"}
  #fullId + div{display:none;}

  #mainTitle {
    font-family: "Caveat";
    font-weight: bold;
    font-size: 50px;
    text-align: center;
  }